.hover-panel {
    background-color: #E6E2DF;
    background-image: url(../images/blue%20sante.png);
    background-size: 150px 150px;
    background-position: 270px 100px;
    background-repeat: no-repeat;
    color: #B2AAA4;
    display: block;
    float: left;
    height: 200px;
    width: 250px;
    margin: 0 30px 30px 0;
    padding: 15px;
    -moz-transition: all 0.2s ease; /* FF3.7+ */
    -o-transition: all 0.2s ease; /* Opera 10.5 */
    -webkit-transition: all 0.2s ease; /* Saf3.2+, Chrome */
    transition: all 0.2s ease;
    border-radius: 25px;
}

.hover-panel h3 {
    font-family: tandelle-1, tandelle-2, Impact, Sans-serif, sans;
    font-size: 38px;
    line-height: 1;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.hover-panel p {
    font-size: 20px;
    width: 55%;
}

.hover-panel:hover {
    background-color: #75bdd1;
    background-position: 140px 90px;
}

.hover-panel:hover h3 {
    color: #FFF;
    text-shadow: rgba(0, 0, 0, 0.398438) 0px 0px 4px;
}

.hover-panel:hover p {
    color: #FFF;
}